<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
    <title>Word Counter</title>
</head>
<body>
    <div class="container">
          <h2>Enter a word, then enter a sentence with that word in it. The computer will tell you how many times that word appears in that sentence.</h2>
          <form action="/counter" method="post">
            <label for="word">Enter a word.</label>
            <input type="text" name="word">
            <label for="sentence">Enter a sentence with no punctuation.</label>
            <input type="text" name="sentence">
            <button id="goButton" type="submit" class="btn btn-info">Go!</button>
        </form>
    </div>
</body>
</html>
